/*=============== FONT ===============*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*=============== CONFIG ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
  
html{
    scroll-behavior: smooth;
}
  
ul{
    list-style: none;
}
  
a{
    text-decoration: none;
}
  
img{
    display: block;
    max-width: 100%;
    height: auto;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

button,
input{
    border: none;
    outline: none;
}
  
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.section_titulo{
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 5rem;
    font-size: 3rem;
    font-weight: 700;
}
  
.main{
    overflow: hidden;
}



/*=============== SUBMENU ===============*/


/*=============== HOME ===============*/

.home {
    position: relative;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('static/media/Fundo.png') no-repeat center center fixed;
    background-size: cover;
}

.home_data img {
    width: 45vw;
}

/*=============== GALAXYS23 ===============*/

.galaxy {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.galaxy_data {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.galaxy_texto h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.galaxy_texto p {
    font-size: 1.2rem;
}

.galaxy_btn {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 0.6rem 2rem;
    border-radius: 0.5rem;
    margin-top: 2rem;
    transition: 0.3s ease-in-out;
}

.galaxy_btn:hover {
    transform: scale(1.1);
    background-color: rgb(32, 32, 32);
}


.galaxy_img img{
    width: 80vw;
}

/*=============== MACBOOK ===============*/

.macbook {
    background-color: black;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.macbook_data {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.macbook_data h1 {
    font-size: 3rem;
    color: white;
}

.macbook_data h2 {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 1rem;
    font-weight: 400;
}


.macbook_btn {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 0.6rem 2rem;
    border-radius: 0.5rem;
    margin-top: 2rem;
    transition: 0.3s ease-in-out;
    margin-bottom: 2rem;
}

.macbook_btn:hover {
    transform: scale(1.1);
    background-color: rgb(177, 177, 177);
}

.macbook_data p {
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 0.5rem;
}

/*=============== SMARTPHONES ===============*/

.smartphones_data {
    grid-template-columns: repeat(4,350px);
    justify-content: center;
    margin-bottom: 10rem;
}

.smartphone_card {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem 3rem;
    color: white;
    text-align: center; 
    background-color: rgb(0, 0, 0);
    border-radius: 1rem;
}

.smartphone_card h2{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.smartphone_subtitulo {
    margin-bottom: 1rem;
}

.smartphone_img{
    width: 100%;
}


@media screen and (max-width: 1454px) and (min-width: 1024px) {

    .smartphones_data {
        grid-template-columns: repeat(2, 350px);
        row-gap: 2rem;
    }
}

@media screen and (max-width: 1024px) and (min-width: 414px) {

    .home_img {
        width: 100px;
    }

    .galaxy_data {
        flex-direction:column-reverse;
        text-align: center;
        gap: 5rem;
    }

    .galaxy_img img {
        width: 100%;
    }

    .smartphones_data {
        grid-template-columns: repeat(1, 350px);
        row-gap: 2rem;
    }

    .smartphone_card {
        padding: 1rem 2rem;
    }
}

/* Navegação para dispositivos móveis */
@media screen and (max-width: 1024px) {
    .nav_menu {
        position: fixed;
        top: -100%;
        left: 0;
        background-color: #000000;
        box-shadow: 0 8px 16px hsla(230, 75%, 32%, .15);
        width: 100%;
        padding: 4.5rem 1rem 4rem 1rem;
        transition: top .4s;
        box-sizing: border-box;
    }

    .nav_list {
        display: flex;
        flex-direction: column;
        row-gap: 2.5rem;
        text-align: center;
    }

    .nav_link{
        color: white;
        font-weight: 600;
        transition: .2s ease-in-out;
    }

    .nav_link:hover{
        color: #1098f3;
    }
    

    .show-menu {
        top: 0;
    }

    .nav_close {
        display: block; 
        position: absolute;
        top: 1.15rem;
        right: 1.5rem;
    }

    .nav_toggle {
        display: block;
    }

    .nav_itens {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .nav_menu {
        position: static;
        background-color: transparent;
        box-shadow: none;
        width: auto;
        padding: 0;
    }

    .nav_list {
        position: relative;
        display: flex;
        flex-direction: row;
        column-gap: 1.5rem;
        text-align: left;

    }

    .nav_link {
        color: white;
        transition: .2s ease-in-out;
    }
    
    
    .nav_itens {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
    }

    .nav_itens a{
        color: white;
    }

    .nav_link:hover{
        color: #1098f3;
    }

    
    .nav_toggle,
    .nav_close {
        display: none;
    }
    
}
