{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>ElectroElite4</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css\master.css' %}">
    <script src="https://kit.fontawesome.com/2f89107e0d.js" crossorigin="anonymous"></script>
    <script src="{% static 'js\script.js' %}"></script>
</head>
<body>
    <!--==================== HEADER ====================-->
    <header class="header" id="header">
        <nav class="nav container">
           <a href="#" class="nav_logo">ELECTROELITE4</a>

            <div class="nav_menu" id="nav-menu">
                <ul class="nav_list">
                    <li> 
                        <a href="/" class="nav_link">HOME</a>
                    </li>
                    <li class="nav_item_with_submenu">
                        <a href="#Sobre" class="nav_link">CELULARES</a>

                       
                    </li>
                    <li class="nav_item_with_submenu">
                        <a href="#Serviços" class="nav_link">COMPUTADORES</a>

                    </li>
                    <li>
                        <a href="#Curso" class="nav_link">SUPORTE</a>
                    </li>                
                </ul>

                   <!--Nav Close-->

                <div class="nav_close" id="nav-close">
                    <i class="fa-solid fa-x"></i>
                </div>

            </div>

            <div class="nav_itens">
                <a href="" class="fa-solid fa-cart-shopping"></a>
                <a href="#" class="fa-solid fa-magnifying-glass"></a>
                <a href="{% url 'usuarios:login' %}" class="fa-solid fa-user"></a>
                <a href="{% url 'usuarios:area_usuario'%}"> {{ user }} </a>
            </div>



            <!--Nav Toggle-->

            <div class="nav_toggle" id="nav-toggle">
                <i class="fa-solid fa-bars"></i>
            </div>
        </nav>
    </header>

    {% block content %}

    {% endblock %}

    <!--==================== FOOTER ====================-->

    <footer class="footer">
        <div class="footer_data container">
            <div class="footer_texto">
                <h1>ELECTROELITE4</h1>
                <p>© 2024 ElectroElite4 - Todos os direitos reservados.</p>
            </div>

            <div class="footer_icons">
                <i class="fa-brands fa-github"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-discord"></i>
            </div>   
        </div>
       
    </footer>

    <!--==================== SCRIPT ====================-->

    <script src="{% static 'js\script.js' %}"></script>
</body>
</html>